<template>
  <div class="center">
    <h1>Private!</h1>
    <h1 v-if="userLogged">{{ userLogged.name }} - {{ userLogged.email }}</h1>
    <hr />
    <br />
    <button @click="onLogout"><h1>Logout!</h1></button>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  computed: {
    userLogged() {
      return this.$store.state.auth.user
    },
  },
  methods: {
    async onLogout() {
      await this.$auth.logout()
      this.$router.push('/')
    },
  },
}
</script>
